*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 900px;
}
header{
    background-color: rgb(199, 16, 175);
    /* display: flex;
    align-items: center;
    justify-content: center;
gap: 40px; */

}
header h1, header p{
    margin-bottom: 9px;
    text-align: center;
    color: white;
}
button{
    width: 140px;
   background-color: rgb(199, 16, 175);
   border: none;
   height: 30px;
   cursor: pointer;
   margin-top: 10px;
}
h5,h3{
    margin-top: 10px;
}
section{
    margin-top: 20px;
    margin-left: 40px;

}
.ans1, .ans2, .ans3{
    display: none;
}
footer{
    background-color: rgb(199, 16, 175);
     margin-bottom: 9px;
    text-align: center;
    color: white;
    margin-top: 60px;
    height: 100px;
    padding: 40px;
}